<!-- <div class="container">
  <div class="row mt-3">
    <a href="/habit/dashboard"
      ><button class="btn btn-lg btn-dark p-4">Open Habits Dashboard</button></a
    >
  </div>
</div> -->
<header><%- include("navbar.ejs")%></header>

<div class="card text-center">
  <div class="card-body">
    <!-- <h3 class="card-title text-primary">Habit Tracker App</h3> -->
    <div id="title-name" class=" card-title text-primary">
      <span style="font-size:2.5rem; color: white;">H</span>
      <span style="font-size:2.5rem; color: white;">a</span>
      <span style="font-size:2.5rem; color: white;">b</span>
      <span style="font-size:2.5rem; color: white;">i</span>
      <span style="font-size:2.5rem; color: white; margin-right: 1.1rem;">t</span>
      <span style="font-size:2.5rem; color: white;">T</span>
      <span style="font-size:2.5rem; color: white;">r</span>
      <span style="font-size:2.5rem; color: white;">a</span>
      <span style="font-size:2.5rem; color: white;">c</span>
      <span style="font-size:2.5rem; color: white;">k</span>
      <span style="font-size:2.5rem; color: white;">e</span>
      <span style="font-size:2.5rem; color: white; margin-right: 1.1rem;">r</span>
      <span style="font-size:2.5rem; color: white;">A</span>
      <span style="font-size:2.5rem; color: white;">p</span>
      <span style="font-size:2.5rem; color: white;">p</span>
    </div>
    <a href="/habit/dashboard" class="btn btn-lg btn-outline-primary"
      >Go to Habits</a
    >
  </div>
</div>
