body{
    background-color: rgb(42, 40, 40);
}
.card{
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    background-color: rgb(42, 40, 40);
    color: white;
    border: none;
    
}
.card a{
    margin: 3rem;
    width: 15rem;
    height: 3.5rem;
}
.card-body a{
    background-color: white;
    color: black;
}
.card-body a:hover{
    background: linear-gradient(rgb(196, 185, 185),white,rgb(185, 172, 172));
    color: black;
    
}